/* @import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300&display=swap');  */
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'gilroy';
  background-color: #faf4f0;

}

/* Bottom */
.darkyellow{
  background-color: #f6eade;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


@font-face {
  font-family: 'gilroy';
  src: url('/assets/fonts/gilroy.ttf');

}